/* /* @media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-white-color);

    }

    .mobile-menu-container {}

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        border: 1px solid var(--navy-color);
        opacity: 0.1;
    }


} */
/* 
.mobile-menu {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-color: var(--primary-white-color);

} */

/* .mobile-menu-container {
    width: 400px;
    height: 400px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid var(--navy-color);
    opacity: 0.1;
} */